Source: xenta-base-common
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/xenta-base-common
Vcs-Browser: https://github.com/xentaos/xenta-base-common.git

Package: xenta-base-common
Architecture: all
Depends: xentasystem
Description: Paket Base Xenta OS pasangan casper.
 Paket Base Sistem OPerasi dan Konfigurasi
 Untuk Live Sistem Xenta OS Preistalled.
